body {
  color: var(--text-color);
}
.user-stats {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.card {
  background-color: #ecf0f1;
  padding: 50px;
  border-radius: 5px;
  text-align: center;
  animation: move2 3s ease-in-out; /* ajusta la duración y la función de temporización según sea necesario */
}

p {
  text-align: left;
}
.card p {
  font-size: 20px;
}
.highlights {
  padding: 20px;
}

.book-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.book-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.rankings {
  padding: 20px;
}

.rankings ol {
  list-style: none;
  padding: 0;
}

.rankings li {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 180px;
}

.rankings li img {
  max-width: 80px;
  height: auto;
  margin-bottom: 10px;
}

.container-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  animation: move 3s ease-in-out; /* ajusta la duración y la función de temporización según sea necesario */
}
ol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    animation: move 3s ease-in-out; /* ajusta la duración y la función de temporización según sea necesario */
}

.linea {
  border-bottom: 1px solid #ddd;
  width: 100%;
  margin-bottom: 20px;
}

/* Keyframe efecto de movimiento */
@keyframes move {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
/* Keyframe efecto de movimiento */
@keyframes move2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
/* Keyframe efecto de movimiento */
@keyframes move3 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
